.container {

    width: 100%;
    min-height: 100vh;
    background: linear-gradient(100deg, #01273fe3 0%, #4a57576e 100%);
    padding: 80px 5% 40px 5%;
    box-sizing: border-box;
}

.headerGal {
    text-align: center;
}

.textGal {

    text-align: center;
    padding: 0.5rem;
    margin-bottom: 10px;
    color: white;
    font-size: 1.5rem;
}


.layoutTresColunas {
    display: flex;
    gap: 30px;
    align-items: flex-start;
}


















/* Responsivo */
@media (max-width: 900px) {
    .layoutTresColunas {
        flex-direction: column;
    }
    
    .colunaDestaque1, .colunaDestaque2 {
        width: 100%;
    }
    
    .imgDestaque1, .imgDestaque2 {
        height: 300px;
    }
}

@media (max-width: 480px){

    .container {

    padding: 55px 5% 40px 5%;
}

.headerGal {
    text-align: center;
}

.textGal {

    font-size: 0.7rem;
}

.layoutTresColunas {

    display: flex;
    gap: 10px;
    align-items: center;
}

}