.container{

    width: 100%;
    height: 100vh;
    background-color: rgba(50, 60, 60, 0.600);
}

.containerImg{

    position: absolute;
    top: 15%;
    left: 70%;
    width: 20%;
    height: auto;

}

.img1{

    width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0px 5px 20px rgba(0,0,0,0.2);
}

.text{

    position: absolute;
    width: 65%;
    height: auto;
    top: 15%;
    left: 4%;
    color: rgb(243, 243, 243);    
}

p {
  margin: 16px 5px;
}